map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

resolver 127.0.0.11 valid=10s ipv6=off;

server {
  listen 80;
  server_name ${DOMAIN};
  server_tokens off;

  set $cyberguardsim_api http://api:8000;
  set $cyberguardsim_web http://web:3000;
  set $cyberguardsim_forwarded_proto http;

  include /etc/nginx/templates/includes/common-routes.inc;
}
